#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-header {
  background-color: #b4a7ed;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(px + 2vmin);
  color: white;
  width: 100%; /* Asegurar que el contenedor del título ocupe el 100% del ancho */
  padding: 1rem;
  box-sizing: border-box; /* Incluir padding y border en el ancho total */
}

.App {
  text-align: center;
  border: 2px solid #b4a7ed; /* Añade un borde de 2px de color #333 */
  border-radius: 10px; /* Opcional: Añade bordes redondeados */
  padding: 1rem; /* Opcional: Añade padding para separar el contenido del borde */
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
}

.App-logo {
  height: 18vmin;
  pointer-events: none;
  padding-top: 0%;
  margin-bottom: 0.5rem;
}

.highlightI {
  color: black;
}

.highlightA {
  color: rgb(115 84 239);
  box-shadow: #5e509b;
}

h1 {
  margin: 0.05em 0;
}
h3 {
  margin: 0.05em 0;
}

.logo {
  height: 6em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Estilos para el Bonton */
.button-custom {
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 10px;
  background-color: #b4a7ed;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-custom:hover {
  background-color: #5e509b;
}

.button-clicked {
  background-color: #5e509b;
}
